.backDr{
    background-color: rgba(75, 75, 75, 0.118);
    backdrop-filter: blur(2px);
}
#backDr-show{
    animation: backdrop-opacity-In-home 300ms ease forwards;
    z-index: 1400;
}
#backDr-remove{
    animation: backdrop-opacity-Out-home 300ms ease forwards;
    z-index: 0;
}
@keyframes backdrop-opacity-In-home {
    form { opacity: 0; z-index: 0;}
    to { opacity: 100%; z-index: 1400;}
}
@keyframes backdrop-opacity-Out-home {
    from { opacity: 100%; z-index: 1400;}
    to { opacity: 0; z-index: 0; }
}
@media(max-width:1050px){
    .icon-bars{
        display: block;
    }.item-container{
        display: none;
    }
}
@media(max-width:765px){
    .item-container{
        display: none;
    }
    .categories{
        display: none;
    }
    .cart{
        display: none;
    }
    .input-search{
        margin-left: 5rem;
    }
}
@media(max-width:630px){
    .header{
        padding-inline: 8px;
    }
}
@media(max-width:590px){
    .header{
        padding-inline: 2px;
    }
}
@media(max-width:576px){
    .input-search input{
        width: 160px;
    }
}