.backDr{
    background-color: rgba(75, 75, 75, 0.118);
    backdrop-filter: blur(2px);
}
@media(max-width:1050px){
    .icon-bars{
        display: block;
    }.item-container{
        display: none;
    }
}
@media(max-width:765px){
    .item-container{
        display: none;
    }
    .categories{
        display: none;
    }
    .cart{
        display: none;
    }
    .input-search{
        margin-left: 5rem;
    }
}
@media(max-width:630px){
    .header{
        padding-inline: 8px;
    }
}
@media(max-width:590px){
    .header{
        padding-inline: 2px;
    }
}
@media(max-width:576px){
    .input-search input{
        width: 160px;
    }
}