@media(max-width:1298px){
    .filter{
        gap: 8px;
    }
    .menu{
        width: 200px;
    }
    .menu h2{
        width: 80%;
    }
}
@media(max-width:1103px){
    .menu{
        left: 0;
        translate: -110% ;
        position: absolute;
    }
    .items-container{
        justify-content: center;
    }
    .users-container{
        translate: 0 5vh;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .filter{
        translate: 0 0;
        flex-direction: column;
    }
    .bar-icon{
        display: block;
    }
    .users-container{
        flex-direction: column;
        gap: 0px;
    }
    .filter{
        flex-direction: row;
    }
    .filter-add{
        translate: 0 0px;
        margin-top: 20px;
        gap : 5px;
    }
    .add-user{
        margin-top: 10px;
    }
    .show-users{
        translate: 0 -1vh;
        width: 100%;
    }
}