@media(max-width:1254px){
    .banner-title{
        font-size: 35px;
        width: 500px;
        translate: 200px -40px;
    }
}
@media(max-width:916px){
    .banner-title{
        translate: 100px -40px;
    }
}
@media(max-width:790px){
    .banner-container{
        background-size: contain;
    }
    .banner-title{
        font-size: 25px;
        width: 400px;
    }
}
@media(max-width:690px){
    .banner-container{
        height: 300px;
    }
    .banner-title{
        display: none;
    }
}
@media(max-width:590px){
    .banner-container{
        height: 200px;
    }
}